body {
   background-color: lightyellow;
}
em {
    color: LightSeaGreen;
}
#image-container {
    margin-left: 20px!important;
    margin-right: 20px!important;
}
img {
    background-color: white;
    content: "dgdfg";
    width: 100%;
    min-height: 300px;
    border: 2px solid black;
    border-style: dashed;
    border-radius: 25px;
    text-align: center;
    display: table;
    margin: 0 auto;
}
img[src] {
    width: auto;
    /* max-height: 400px; */
    max-width: 100%;
}
.toggle {
    padding-left: 20px;
}
#no-img-err {
    color: red;
}
.pull-right {
    float: right!important;
}
#grid {
    margin-right: 60px!important;
}
