<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>Hello World!</h1>
        <div class="container">
            <div class="row form-group">
                <label for="file">上傳檔案</label>
            </div>
            <div class="row form-group">
                <input id="file" class="" type="file" name="file">
            </div>
            <div class="row form-group">
                <img id="prev" class="image">
                <p id="base64" class="hidden" hidden></p>
            </div>
            <div class="row form-group">
                <input id="submit" type="button" class="btn btn-primary" value="進入網站">
            </div>
        </div>
        <p id="result"></p>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#file').on('change', function() {
                    if (this.files && this.files[0]) {

                        var FR = new FileReader();
                        FR.addEventListener("load", function(e) {
                            let code = e.target.result;
                            $('#prev').attr('src', code);
                            $('#base64').text(code);
                        });

                        FR.readAsDataURL( this.files[0] );
                    }
                });
                $('#submit').on('click', function() {
                    console.log("submit click!");
                    file = $('#base64').text();
                    if(!file) {
                        alert('no image');
                        return;
                    }
                    let imgData = file.substr(file.indexOf('base64,')+7);
                    console.log(imgData);
                    $.ajax({
                        type: "POST",
                        url: "/",
                        data: {
                            'file': imgData
                        },
                        success: function(res) {
                            $('#result').text("start");
                            alert("success");
                            startSocket();
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert("Status: " + textStatus); alert("Error: " + errorThrown);
                        }
                    });
                });
                function startSocket() {
                    let timer = setInterval(function() {
                        $.ajax({
                            type: "POST",
                            url: "/",
                            data: {
                                'wait': true
                            },
                            success: function(res) {
                                console.log(res);
                                if( res.startsWith("progress:") ){
                                    console.log("pro");
                                    $('#result').text(res);
                                }
                                else {
                                    console.log("clear");
                                    $('#prev').attr('src', res);
                                    clearInterval(timer);
                                    $('#result').text("FINAL");
                                }

                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                console.log("Status: " + textStatus);
                                console.log("Error: " + errorThrown);
                            }
                        });
                    }, 1000);
                }
            });
        </script>
    </body>
</html>
