<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet">
        <link href="../static/css/funkyradio.css" rel="stylesheet">
        <link href="../static/css/jquery-ui.min.css" rel="stylesheet">
        <title>Mosaic Image</title>
    </head>
    <body>
        <div id="image-container">
            <div class="row">
                <div class="form-group col-6">
                    <div>
                        <p class="text-center font-weight-bold">點擊下方框框以上傳圖片</p>
                        <img id="prev">
                        <input id="file" type="file" name="file" accept="image/*" hidden>
                        <p id="base64" hidden></p>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div>
                        <p class="text-center font-weight-bold">馬賽克結果</p>
                        <img id="output"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="select-container">
            <div class="row" id="select">
                <div class="col-4 child-vcenter">
                    <div>
                        <input id="grid" type="number" class="form-control" placeholder="格線數量，預設為10">
                    </div>
                </div>
                <div class="col-4 funkyradio">
                    <div class="funkyradio-success">
                        <input type="radio" name="radio" id="radio-color-histogram"/>
                        <label for="radio-color-histogram">Color Histogram</label>
                    </div>
                    <div class="funkyradio-success">
                        <input type="radio" name="radio" id="radio-color-layout" checked/>
                        <label for="radio-color-layout">Color Layout</label>
                    </div>
                </div>
                <div class="col-4 child-vcenter">
                    <input id="submit" type="button" class="btn btn-primary full-input" value="轉換馬賽克">
                    <div id="no-img-err" class="text-right" style="display: none;">
                        <p>請先選擇圖片</p>
                    </div>
                </div>
            </div>
            <div id="show" style="display: none;">
                <p id="progress-text" class="text-center"></p>
                <div id="progress-bar"></div>
            </div>
        </div>

        <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../static/js/main.js"></script>
    </body>
</html>
